/* https://gridbyexample.com/examples/example32/ */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 10px;
}

.wrapper {
  margin: 0 0 0px 0;
  width: 100%;
/*  border: 2px solid #CCC;*/
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(10, 10%);
  justify-content: center;
/*  align-content: top; */
}

/*
.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}
*/

/*
.box2tree {
  background-color: #ffffff;
  color: #000;
  border-radius: 5px;
  padding: 5px;
  font-size: 100%;
}
*/

.item1header {
  grid-column: 1 / 7;
}

.item2tree {
  grid-column: 1 / 7;
  grid-row: 2 / 8;
}

.item3status {
  grid-column: 8 / 10;
  grid-row: 1 / 10;
}

.item5command {
  grid-column: 1 / 7;
  grid-row: 9 / 10;
}

